<div class="module-page">
    <div class="container box">
        <div class="row">
            <!--<div class="col-md-2" *ngFor="let sitemap of moduleSitemaps">
            <button class="module-link" (click)="redirect(sitemap)">
                    {{sitemap.name | translate}}
                    <br><br>
                    <div class="module-icon" [ngStyle]="{'background': sitemap.color}">
                        <i class="{{sitemap.icon}} fa-lg"></i>
                    </div>
                 
                    <span style="color:#21EAD7; font-size:10px">DISPONIBLE</span>
                </button>
        </div>-->
            <div class="col-md-2">
                <button class="module-link" (click)="redirect(1)">
                    Facturación
                    <br><br>
                    <div class="module-icon">
                        <i class="fa fa-money fa-lg"></i>
                    </div>
                
                    <span style="color:#21EAD7; font-size:10px">DISPONIBLE</span>
                </button>
            </div>
            <div class="col-md-2">
                <button class="module-link" (click)="redirect(2)">
                    Contabilidad
                    <br><br>
                    <div class="module-icon">
                        <i class="fa fa-balance-scale fa-lg"></i>
                    </div>
                
                    <span style="color:rgb(228, 189, 18); font-size:10px">DISPONIBLE</span>
                </button>
            </div>
            <div class="col-md-2">
                <button class="module-link" (click)="redirect(3)">
                    Inventario
                    <br><br>
                    <div class="module-icon">
                        <i class="fa fa-industry fa-lg"></i>
                    </div>
                
                    <span style="color:rgb(56, 234, 33); font-size:10px">DISPONIBLE</span>
                </button>
            </div>
            <div class="col-md-2">
                <button class="module-link" (click)="redirect(4)">
                    Configuración
                    <br><br>
                    <div class="module-icon">
                        <i class="fa fa-wrench fa-lg"></i>
                    </div>
                
                    <span style="color:rgb(101, 31, 214); font-size:10px">DISPONIBLE</span>
                </button>
            </div>
            <div class="col-md-2">
                <button class="module-link" (click)="redirect(5)">
                    Usuarios
                    <br><br>
                    <div class="module-icon">
                        <i class="fa fa-user-circle fa-lg"></i>
                    </div>
                
                    <span style="color:#21EAD7; font-size:10px">DISPONIBLE</span>
                </button>
            </div>
        </div>
        <br>

    </div>

</div>