.module-page {
    background: #1B1D29;
    width: 100%;
    margin-top: -50px;
}

div.box {
    margin: 100px auto;
    text-align: center;
    padding-top: 50px;
}

button.module-link {
    background: #272D3B;
    border: none;
    margin-bottom: 30px;
    width: 100%;
    color: #d8d8d8;
    border-radius: 5px;
    padding: 40px 0px;
}

div.module-icon {
    border-radius: 35px;
    padding: 20px 15px 10px 15px;
    width: 60px;
    height: 60px;
    margin: 0px auto 10px auto;
    background: #1B1D29;
    ;
}