<div class="login-container">

    <div class="login-box">

        <div class="login-logo" style="text-align:center;">
        </div>
        <br>
        <div class="login-body">
            <div *ngIf="!authenticated">
                <div class="login-title"><strong>Bienvenido</strong>, por favor ingresa</div>
                <div class="form-container">
                    <div>
                        <input type="text" class="external-form-control" [(ngModel)]="username" placeholder="Usuario">
                    </div>
                    <div>
                        <input type="password" class="external-form-control" [(ngModel)]="password" placeholder="Contraseña">
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <!--<a routerLink="/password-recover-request" class="btn btn-link">Olvidaste la contraseña?</a>-->
                            <a routerLink="" class="btn btn-link">Olvidaste la contraseña?</a>
                        </div>
                        <div class="col-md-7">
                            <button class="btn btn-login" type="button" (click)="authenticate()">Ingresar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="authenticated">
                <div class="login-title"><strong>Selecciona </strong>la empresa</div>
                <div style="text-align:center">
                    <!--<div *ngFor="let company of contextSelector.companies" class="company-item">
                  <button class="company-link" (click)="selectCompany(company)">
                  <div class="company-icon">
                      <i class="fa fa-building-o fa-3x"></i>
                  </div>
                  {{company.name }}
              </button>

              </div>-->
                    <div class="company-item">
                        <button class="company-link" (click)="selectCompany()">
                  <div class="company-icon">
                    <i class="fa fa-building-o fa-3x"></i>
                  </div>
                  Empresa1
                </button>
                    </div>
                    <div class="company-item">
                        <button class="company-link" (click)="selectCompany()">
                  <div class="company-icon">
                      <i class="fa fa-building-o fa-3x"></i>
                  </div>
                  Empresa2
                </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>